// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	padding: 1em;
	background-color: #efefef;
	border-collapse: collapse;
	width: 30em;
	th {
	  text-align: left;
	}
	td {
	  text-align: right;
	}
	th, td {
	  border-bottom: 1px solid #ccc;
	}
}

.main-content {
	width: 800px;
	margin: 0 auto 0 auto;
}